*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 a{
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: 0.5s all;
    
    
}
.btn{
    height: 40px;
    min-width: 200px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px;
    border: 1px solid red;
    color: black;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
}
.btn::before{
    z-index: -1;
    content: "";
    right: 100%;
    top: 0;
    left: auto;
    position: absolute;
    background-color: yellow;
    width: 100%;
    height: 100%;
    transition: .3s all;
}
.btn:hover:before{
    right: 0;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
.custom-btn{
    display: flex;
    justify-content: center;
}
.custom-modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    opacity: 0;
    transition: 0.5s all ;
}
.custom-modal .modal-backdrop{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    opacity: 0;
    transition: 0.5s all ;
}