*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.header-site{
    padding: 30px;
    background: #cca8e9;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
    transition: 0.5s all linear;
}
.header-site .header-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header-site .header-wrapper .logo a{
    font-weight: 800;
    font-size: 22px;
}
.header-site .header-wrapper .navbar ul{
    display: flex;
    margin: 0 -12px;
}

.header-site .header-wrapper .navbar ul li{
    padding: 0 12px;
}
.header-site .header-wrapper .navbar ul li a{
 font-size: 18px;
 font-weight: 600;
 padding: 10px;
}
.header-site .header-wrapper .navbar ul li.active a{
    border-bottom: 2px solid black;
}

main{
    padding-top: 86px;
}

section{
    height: 100vh;
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
section span{
    font-size: 22px;
    font-weight: 700;
}
section:nth-child(odd){
    background-color: #defcf9;
}
section:nth-child(even){
    background-color: #cadefc;
}